.*.sw?
pkg
spec/fixtures
!spec/fixtures/hiera.yaml
!spec/fixtures/hieradata/*.yaml
!spec/fixtures/manifests/site.pp
.rspec_system
.vagrant
.bundle
vendor
.idea
bin
Gemfile.lock
coverage
Modulefile
log
junuit
doc
.yardoc
